Source: prometheus
Section: net
Priority: extra
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Martín Ferrari <tincho@debian.org>
Build-Depends: debhelper (>= 9.0.0),
               dh-golang,
               golang-dns-dev,
               golang-fsnotify-dev,
               golang-github-prometheus-log-dev,
               golang-go (>= 1.3),
               golang-golang-x-net-dev,
               golang-goleveldb-dev,
               golang-logrus-dev,
               golang-logrus-dev,
               golang-prometheus-client-dev,
               golang-yaml.v2-dev,
               libjs-bootstrap,
               libjs-handlebars,
               libjs-jquery-hotkeys,
               libjs-rickshaw,
               node-less
Standards-Version: 3.9.6
Vcs-Git: git://anonscm.debian.org/pkg-go/packages/prometheus.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-go/packages/prometheus.git/

Package: prometheus
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, daemon,
         libjs-bootstrap,
         libjs-handlebars,
         libjs-jquery-hotkeys,
         libjs-rickshaw,
Recommends: prometheus-node-exporter, prometheus-cli
Built-Using: ${misc:Built-Using}
Description: Monitoring system and time series database
 Prometheus is a systems and services monitoring system. It collects metrics
 from configured targets at given intervals, evaluates rule expressions,
 displays the results, and can trigger alerts if some condition is observed to
 be true.
 .
 Prometheus' main distinguishing features as compared to other monitoring
 systems are:
 .
  * A multi-dimensional data model (timeseries defined by metric name and set
    of key/value dimensions).
  * A flexible query language to leverage this dimensionality.
  * No dependency on distributed storage; single server nodes are autonomous.
  * Timeseries collection happens via a pull model over HTTP.
  * Pushing timeseries is supported via an intermediary gateway.
  * Targets are discovered via service discovery or static configuration.
  * Multiple modes of graphing and dashboarding support.
  * Federation support coming soon.
