#!/bin/sh

set -e

. /usr/share/debconf/confmodule

if dpkg --compare-versions "$2" lt-nl 2~ && test -f /var/lib/prometheus/metrics/VERSION && \
    test "$(cat /var/lib/prometheus/metrics/VERSION)" = "1" ; then
        db_input high prometheus/remove-version1-database || true
        db_go || true
fi

db_stop
